[submodule "lib/minigrafx"]
	path = components/minigrafx
	url = git@github.com:valir/minigrafx.git
[submodule "components/XPT2046_Touchscreen"]
	path = components/XPT2046_Touchscreen
	url = git@github.com:valir/XPT2046_Touchscreen.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/mq135"]
	path = components/mq135
	url = git@github.com:valir/MQ135.git
[submodule "components/simleDSTadjust"]
	path = components/simleDSTadjust
	url = git@github.com:valir/simpleDSTadjust.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "components/esp32DHT"]
	path = components/esp32DHT
	url = git@github.com:valir/esp32DHT.git
[submodule "components/BME68x-Sensor-API"]
	path = components/BME68x-Sensor-API
	url = git@github.com:valir/BME68x-Sensor-API.git
